
$yellow: #FFCC00;
$blue: #0099FF;
$red: #FF3333;
$purple: #660099;
$white: #FFFFFF;

$morning: #FF9361;
$noon: #FBB100;
$evening: #AAC8FE;
$night: #0E0E25;

$horizon-border: #70534F;
$horizon-background: #AB6C4F;

html {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.5;
}

h1, h2, h3, p, ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, h2, h3 { 
  margin-bottom: 0.5rem;
  line-height: 1.1;
}

blockquote {
  font-size: 20px;
}

@media (min-width: 500px) {
  html {
    font-size: 20px;
  }

  blockquote {
    font-size: 24px;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 24px;
  }
  blockquote {
    font-size: 30px;
  }
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;

  &:hover { 
    text-decoration: underline;
  }
}

.collapse {
  display: inline-block;
  padding-left: 2rem;
}

.menu ul.collapsed  {
  display: none;
}

@media (min-width: 900px) {
  .collapse { 
    display: none;
  }
  .menu ul.collapsed  {
    display: inline-block; 
  }
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 11vmin;
  background-color: $yellow;
  z-index: 10;

  .menu {
    padding: 0.25rem 0 0 1rem;
    background-color: $yellow;


    h1 {
      display: inline-block;
    }

    ul {
      display: inline-block; 
      list-style-type: none;

      li {
        display: inline-block;
        padding: 1em;

        a {
          display: block;
        }
      }
    }
  }

}

.main {

  p {
    margin-left: 2em;
    padding: 2em;
  }

  .container {
    margin-top: 10vmin;
    height: 100vh;

    &.auto-height {
      height: auto;
    }
  }
}

.mla {
  padding-left: 2em;
  text-indent: -2em;
}

.p5 {
  padding: 5vmin;
}

.center {
  text-align: center;
}
.right {
  text-align: right;

}


footer {
  position: fixed;
  bottom: 0;

  div {
    padding: 1em;
  }
}


.slider-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .slider {
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

    &.hide-transition {
      transition: none;
    }

    width: 500vw;
    .page {
      height: 100vh;
      width: 100vw;
      display: inline-block;
      vertical-align: top;

      &:first-child {
        width: 98vw;
      }
      &:nth-child(2) {
        width: 102vw;
      }
    }
  }
}


.chart {
  margin-top: 10vh;
  height: 60vh;
  position: relative;

  svg {
    height: 100%;
    width: 100%;

    .line {
      stroke-width: 8;

      &:hover {
        stroke-width: 12;
      }

      &.cortisol {
        stroke: #666;
      }
      &.melatonin {
        stroke: red;
      }
    }
  }

  label {
    font-weight: bold;
    background-color: #FFF;
    padding: 0.25em 0.5em;

    border-width: 0.25em;
    border-style: solid;
    border-radius: 0.5em;

    position: absolute;
    left: 1em;

    &.melatonin {
      color: red;
      border-color: red;
    }
    &.cortisol {
      color: #666;
      border-color: #666;
    }

    &.top-right {
      left: auto;
      right: 1vw;
      top: 1vh;
      width: 60vw;
    }
    &.mid-right {
      left: auto;
      top: 30vh;
      right: 1vw;
      width: 60vw;
    }
  }
}

.scene {
  height: 30vh;

  .sky {
    display: flex;
    justify-content: center;
    height: 20vh;
  }
  .horizon {
    border-top: 0.5em solid $horizon-border;
    background-color: $horizon-background;
    height: 10vh;
    z-index: 10;
    position: relative;
  }
}

.morning { 
  background-color: $morning;

  label {
    &.melatonin {
      top: 32%;
    }
    &.cortisol {
      top: 87%;
    }
  }

  .sun {
    margin-top: 10vh;
  }
}

.noon {
  background-color: $noon;
  label {
    &.melatonin {
      top: 87%;
    }
    &.cortisol {
      top: 32%;
    }
  }

  .sun {
    margin-top: -10vh;
  }

  .horizon {
    border-color: lighten($horizon-border, 10%);
    background-color: lighten($horizon-background, 10%);
  }
}

.evening {
  background-color: $evening;
  label {
    &.melatonin {
      top: 88%;
    }
    &.cortisol {
      top: 80%;
    }
  }

  .sun {
    margin-top: 15vh;
  }
}

.night {
  background-image: url('./night.png');
  background-color: $night;
  background-repeat: repeat;
  label {
    &.melatonin {
      top: 62%;
    }
    &.cortisol {
      top: 92%;
    }
  }

  .moon {
    margin-top: -10vh;
  }

  .horizon {
    border-color: darken($horizon-border, 10%);
    background-color: darken($horizon-background, 10%);
  }
}

.sun {
  margin: 2em auto;
  animation: sun-spin infinite 60s linear;
  height: 20vmin;
}
.moon {
  margin: 2em auto;
  animation: moon-grow infinite 4s linear;
  height: 20vmin;
}


.panels {
  .panel {
    width: calc(100vw - (100vw - 100%));
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
    img {
      width: 50vmin;
    }
  }
  .parallax {
    &.me-sleeping {
      background-image: url(/me-sleeping.jpg);
      background-size: cover;
      background-position: top right;
      background-attachment: fixed;

      height: 50vh;
    }
  }
}

.yellow {
  background-color: $yellow;
}

.purple {
  background-color: $purple;
  color: $white;

  a {
    color: $white;
  }
}
.blue { 
  background-color: $blue;
  color: $white;
  a {
    color: $white;
  }
}
.red {
  background-color: $red;
  color: $white;
  a { 
    color: $white;
  }
}

.white {
  background-color: $white;
}


@keyframes sun-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moon-grow {
  0%{
    transform: scale(0.9);
  }
  50%{
    transform: scale(1.4);
  }
  100%{
    transform: scale(0.9);
  }
}
